<p>stocks-list works!</p>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>List Stocks</tr>
        <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Stock key</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stock of stocksList">
            <td>{{ stock.id }}</td>
            <td>{{ stock.stockKey }}</td>
            <td>{{ stock.dateTarget }}</td>
        </tr>
        </tbody>
    </table>
</div>